* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #0B2434;
  width: 100vw;
  min-width: 240px;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
  width: 90vw;
  max-width: fit-content;
  min-width: 240px;
  height: 90%;
  max-height: fit-content;
  border-radius: 10px;
}

.content {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  margin: 6rem 4rem;
  padding: 3rem 2rem;
  width: 100%;
  max-width: 400px;
}

.game-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 240px;
}

.game-info > h1 {
  text-align: center;
  height: fit-content;
  margin: .5rem 0;
  width: 80%;
}

.game-info > p {
  text-align: center;
  height: fit-content;
  margin: .5rem 0;
  width: 80%;
}

.die-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  margin: .5rem auto;
}

.die-container > button {
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  box-shadow: 0px 4px 0px 0px lightgrey;
  background-color: white;
  border: none;
  cursor: pointer;
}

.roll-dice {
  width: 90%;
  height: auto;
  margin: .5rem auto;
  background-color: #5035FF;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 4px;
  padding: .75rem  2rem;
  border: none;
}

.roll-dice:hover {
  background-color: #5035FF;
  opacity: .75;
  border: none;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media only screen and (max-width: 360px) {
  .die-container {
  grid-template-columns: repeat(2, 1fr);
}
}